process {
	container = '/cfs/klemming/projects/supr/archaeogenetics/pochonz/Cache/Apptainer_cachedir/nfcore-eager-2.5.0.sif'
	errorStrategy = 'finish'

	withName: adapter_removal {
		cpus = 24
		memory = 12.GB
		time = 8.h
	}

	withName: bwa {
		cpus = 64
		memory = 230.GB
		time = 12.h
	}
	
	withName: circularmapper {
		cpus = 64
		memory = 128.GB
		time = 12.h
	}
	
	withName: markduplicates {
		cpus = 64
		memory = 230.GB
	}

	withName: qualimap {
		cpus = 4
		memory = 8.GB
	}
}

apptainer {
  enabled = true
  cacheDir = '/cfs/klemming/projects/supr/archaeogenetics/pochonz/Cache/Apptainer_cachedir'
}

params {
  apptainer_cachedir = '/cfs/klemming/projects/supr/archaeogenetics/pochonz/Cache/Apptainer_cachedir'
  container = "/cfs/klemming/projects/supr/archaeogenetics/pochonz/Cache/Apptainer_cachedir/nfcore-eager-2.5.0.sif"
}

profiles {
	pdc_kth {
		process {
		maxForks = 1000
		queueSize = 1000
		}
		executor {
		submitRateLimit = '1000/sec'
		}
	}
    }
}

